{% extends 'base.html.twig' %}
{% block title %}Düğün Kodu Gir{% endblock %}
{% block body %}
    <div class="container mt-5 text-center" style="max-width: 500px;">
        <h2 class="fw-bold text-primary mb-4">Hangi Düğüne Geldin?</h2>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div class="card p-4 shadow-sm border-0 rounded-4">
            <form action="{{ path('app_home') }}" method="POST">
                <div class="mb-4">
                    <input type="text" name="wedding_code" class="form-control form-control-lg text-center" placeholder="Düğün Kodunu Buraya Gir" required>
                </div>
                <button type="submit" class="btn btn-success btn-lg w-100 shadow-sm">
                    Galeriyeye Git <i class="fas fa-arrow-right ms-2"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
